# Needed imports
Importing all the packages we need for the data we'll be using

In [1]:
# web scraping
from bs4 import BeautifulSoup
import requests

# doing certain tasks in parallel
from concurrent.futures import ThreadPoolExecutor

# for general os operations
import os

# for unzipping zip files
import zipfile

# for data manipulation
import pandas as pd
import numpy as np

# for database storage
import sqlite3

# for json work
import json

In [2]:
# below is the base url where all the data lives
url = 'https://s3.amazonaws.com/tripdata/'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'xml')

all_data_files = soup.find_all('Key')

print(f'There are {len(all_data_files)} total files.')

There are 227 total files.

In [3]:
# Set the path to save csv files
csv_save_path = 'data/raw/'

In [4]:
# Create a function to download files
def download_and_unzip_file(url, save_path):
    
    # Download the file
    r = requests.get(url)
    with open(save_path, 'wb') as file:
        file.write(r.content)

    # Extract the CSV from the downloaded zip file
    with zipfile.ZipFile(save_path, 'r') as zipped_file:
        csv_filename = [name for name in zipped_file.namelist()]
        zipped_file.extract(csv_filename[0], os.path.dirname(save_path))
    
    # Delete the zip file
    os.remove(save_path)

    print(f'\tCompleted {csv_filename[0]}')
    

# Create a function that'll download each file in parallel.
#   This takes a list of file URLs and a common save directory.
def download_files_in_parallel(file_urls, save_dir):
    total_system_workers = os.cpu_count() or 1
    usable_workers = max(1, total_system_workers)
    with ThreadPoolExecutor(max_workers=usable_workers) as executor:
        # Use executor.map to apply the download_file function to each URL
        # Use save_dir as the common save directory for all files
        executor.map(lambda url: download_and_unzip_file(url, os.path.join(save_dir, os.path.basename(url))), file_urls)

# Initialize a list of the files we'll want to download.
files_to_download = []

# Here we'll only grab NYC rides. We'll do this by first checking that the file is a .zip file and then ensuring that it doesn't contain 'JC' in the title.
for each_file in all_data_files:
    temp_file_name  = each_file.get_text()
    temp_filetype   = temp_file_name[-4:]
    
    if temp_filetype == '.zip' and not('JC' in temp_file_name):
        files_to_download.append(url + temp_file_name)

print(f'{len(files_to_download)} file(s) to download.')

download_files_in_parallel(
    files_to_download,
    csv_save_path
)

127 file(s) to download.
	Completed 2014-02 - Citi Bike trip data.csv
	Completed 201306-citibike-tripdata.csv
	Completed 2013-08 - Citi Bike trip data.csv
	Completed 2014-01 - Citi Bike trip data.csv
	Completed 2014-03 - Citi Bike trip data.csv
	Completed 2013-11 - Citi Bike trip data.csv
	Completed 2013-12 - Citi Bike trip data.csv
	Completed 2013-09 - Citi Bike trip data.csv
	Completed 2013-10 - Citi Bike trip data.csv
	Completed 2014-04 - Citi Bike trip data.csv
	Completed 201502-citibike-tripdata.csv
	Completed 2014-05 - Citi Bike trip data.csv
	Completed 201501-citibike-tripdata.csv
	Completed 2013-07 - Citi Bike trip data.csv
	Completed 2014-06 - Citi Bike trip data.csv
	Completed 201411-citibike-tripdata.csv
	Completed 201410-citibike-tripdata.csv
	Completed 201412-citibike-tripdata.csv
	Completed 201503-citibike-tripdata.csv
	Completed 201409-citibike-tripdata.csv
	Completed 201504-citibike-tripdata.csv
	Completed 2014-07 - Citi Bike trip data.csv
	Completed 201506-citibike-tripdata.csv
	Completed 201508-citibike-tripdata.csv
	Completed 201511-citibike-tripdata.csv
	Completed 201509-citibike-tripdata.csv
	Completed 2014-08 - Citi Bike trip data.csv
	Completed 201601-citibike-tripdata.csv
	Completed 201602-citibike-tripdata.csv
	Completed 201510-citibike-tripdata.csv
	Completed 201512-citibike-tripdata.csv
	Completed 201507-citibike-tripdata.csv	Completed 201505-citibike-tripdata.csv

	Completed 201603-citibike-tripdata.csv
	Completed 201604-citibike-tripdata.csv
	Completed 201605-citibike-tripdata.csv
	Completed 2014-02 - Citi Bike trip data.csv
	Completed 201701-citibike-tripdata.csv
	Completed 201703-citibike-tripdata.csv
	Completed 201702-citibike-tripdata.csv
	Completed 201607-citibike-tripdata.csv
	Completed 201612-citibike-tripdata.csv
	Completed 201611-citibike-tripdata.csv
	Completed 201610-citibike-tripdata.csv
	Completed 201606-citibike-tripdata.csv
	Completed 201608-citibike-tripdata.csv
	Completed 201609-citibike-tripdata.csv
	Completed 201704-citibike-tripdata.csv
	Completed 201801-citibike-tripdata.csv
	Completed 201705-citibike-tripdata.csv
	Completed 201711-citibike-tripdata.csv
	Completed 201803-citibike-tripdata.csv
	Completed 201712-citibike-tripdata.csv
	Completed 201802-citibike-tripdata.csv
	Completed 201706-citibike-tripdata.csv
	Completed 201804-citibike-tripdata.csv
	Completed 201707-citibike-tripdata.csv
	Completed 201708-citibike-tripdata.csv
	Completed 201805-citibike-tripdata.csv
	Completed 201710-citibike-tripdata.csv
	Completed 201709-citibike-tripdata.csv
	Completed 201806-citibike-tripdata.csv
	Completed 201807-citibike-tripdata.csv
	Completed 201811-citibike-tripdata.csv
	Completed 201812-citibike-tripdata.csv	Completed 201808-citibike-tripdata.csv

	Completed 201810-citibike-tripdata.csv
	Completed 201901-citibike-tripdata.csv
	Completed 201809-citibike-tripdata.csv
	Completed 201903-citibike-tripdata.csv
	Completed 201902-citibike-tripdata.csv
	Completed 201912-citibike-tripdata.csv
	Completed 202001-citibike-tripdata.csv
	Completed 202004-citibike-tripdata.csv
	Completed 201905-citibike-tripdata.csv
	Completed 201911-citibike-tripdata.csv
	Completed 201904-citibike-tripdata.csv
	Completed 202003-citibike-tripdata.csv
	Completed 202002-citibike-tripdata.csv
	Completed 201907-citibike-tripdata.csv
	Completed 202005-citibike-tripdata.csv
	Completed 201906-citibike-tripdata.csv
	Completed 201910-citibike-tripdata.csv
	Completed 202006-citibike-tripdata.csv
	Completed 202007-citibike-tripdata.csv
	Completed 201909-citibike-tripdata.csv
	Completed 201908-citibike-tripdata.csv
	Completed 202102-citibike-tripdata.csv
	Completed 202103-citibike-tripdata.csv
	Completed 202008-citibike-tripdata.csv
	Completed 202012-citibike-tripdata.csv
	Completed 202101-citibike-tripdata.csv
	Completed 202104-citibike-tripdata.csv
	Completed 202011-citibike-tripdata.csv
	Completed 202010-citibike-tripdata.csv
	Completed 202105-citibike-tripdata.csv
	Completed 202009-citibike-tripdata.csv
	Completed 202201-citibike-tripdata.csv
	Completed 202112-citibike-tripdata.csv
	Completed 202202-citibike-tripdata.csv
	Completed 202111-citibike-tripdata.csv
	Completed 202109-citibike-tripdata.csv
	Completed 202108-citibike-tripdata.csv
	Completed 202110-citibike-tripdata.csv
	Completed 202107-citibike-tripdata.csv
	Completed 202106-citibike-tripdata.csv
	Completed 202203-citibike-tripdata.csv
	Completed 202204-citibike-tripdata.csv
	Completed 202205-citibike-tripdata.csv
	Completed 202206-citbike-tripdata.csv
	Completed 202207-citbike-tripdata.csv
	Completed 202302-citibike-tripdata.csv
	Completed 202208-citibike-tripdata.csv
	Completed 202212-citibike-tripdata.csv
	Completed 202303-citibike-tripdata.csv
	Completed 202301-citibike-tripdata.csv
	Completed 202209-citibike-tripdata.csv
	Completed 202211-citibike-tripdata.csv
	Completed 202304-citibike-tripdata.csv
	Completed 202210-citibike-tripdata.csv
	Completed 202305-citibike-tripdata.csv
	Completed 202307-citibike-tripdata.csv
	Completed 202306-citibike-tripdata.csv
	Completed 202311-citibike-tripdata.csv
	Completed 202309-citibike-tripdata.csv
	Completed 202310-citibike-tripdata.csv
	Completed 202308-citibike-tripdata.csv

In [5]:
# With this data, we need to make sure that column names align. 
# We're going to have everything align to the most recent data file (202311-citibike-tripdata.csv)

# This funciton will check if column names align with the expected list
def check_column_alignment(test_df, expected_columns):
    actual_columns = test_df.columns.tolist()
    return set(actual_columns) == set(expected_columns)

# Read in the ideal data archetecture
ideal_df = pd.read_csv(
    csv_save_path + '/202311-citibike-tripdata.csv',
    nrows=100
)

# create a list of ideal columns
ideal_columns = ideal_df.columns.tolist()

ideal_columns

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [6]:
# Initialize a list of non-ideal columns
non_ideal_columnsets = []

# Iterate through each file and document those that aren't ideal
for file_name in os.listdir(csv_save_path):
    temp_df = pd.read_csv(
        os.path.join(csv_save_path,file_name),
        nrows=100
    )
    if not(check_column_alignment(temp_df, ideal_columns)):
        non_ideal_columnsets.append(set(temp_df.columns.tolist()))

# Get the unique set of non_ideal_columnssets
non_ideal_unique = list(map(set,set(map(frozenset, non_ideal_columnsets))))

# show the unique datasets that need to be mapped
non_ideal_unique

[{'Bike ID',
  'Birth Year',
  'End Station ID',
  'End Station Latitude',
  'End Station Longitude',
  'End Station Name',
  'Gender',
  'Start Station ID',
  'Start Station Latitude',
  'Start Station Longitude',
  'Start Station Name',
  'Start Time',
  'Stop Time',
  'Trip Duration',
  'User Type'},
 {'bikeid',
  'birth year',
  'end station id',
  'end station latitude',
  'end station longitude',
  'end station name',
  'gender',
  'start station id',
  'start station latitude',
  'start station longitude',
  'start station name',
  'starttime',
  'stoptime',
  'tripduration',
  'usertype'}]

In [7]:
# Remind me what the ideal columns are:
ideal_columns

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [ ]:
# Initialize an empty dictionary
column_mapping = {}

# Ask the user how each item should be mapped
for each_set in non_ideal_unique:
    for each_column in each_set:
        column_mapping[each_column] = input(f'What goes in for "{each_column}"?')

In [10]:
# Save column mapping to a json in the config file
with open('config/column_map.json', 'w') as json_file:
    json.dump(column_mapping, json_file, indent=2)

column_mapping

{'end station longitude': 'end_lng',
 'stoptime': 'ended_at',
 'start station id': 'start_station_id',
 'end station latitude': 'end_lat',
 'start station name': 'start_station_name',
 'tripduration': 'trip_duration',
 'gender': 'gender',
 'start station longitude': 'start_lng',
 'starttime': 'started_at',
 'end station id': 'end_station_id',
 'end station name': 'end_station_name',
 'bikeid': 'bike_id',
 'start station latitude': 'start_lat',
 'usertype': 'member_casual',
 'birth year': 'birth_year',
 'Start Station Name': 'start_station_name',
 'End Station Latitude': 'end_lat',
 'Start Station Latitude': 'start_lat',
 'Bike ID': 'bike_id',
 'Birth Year': 'birth_year',
 'End Station Name': 'end_station_name',
 'End Station ID': 'end_station_id',
 'Start Time': 'started_at',
 'User Type': 'member_casual',
 'Gender': 'gender',
 'Start Station Longitude': 'start_lng',
 'End Station Longitude': 'end_lng',
 'Start Station ID': 'start_station_id',
 'Trip Duration': 'trip_duration',
 'Stop Time': 'ended_at'}

In [11]:
# Make sure that every column mapped properly
sample_data = []

for file_name in os.listdir(csv_save_path):
    temp_df = pd.read_csv(
        os.path.join(csv_save_path,file_name),
        nrows=100,
        parse_dates=True
    )

    temp_df.rename(
        columns = column_mapping,
        inplace=True
    )

    temp_df['started_at'] = pd.to_datetime(temp_df['started_at'])
    temp_df['ended_at'] = pd.to_datetime(temp_df['ended_at'])

    sample_data.append(
        temp_df
    )

sample_df = pd.concat(sample_data)
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12600 entries, 0 to 99
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   trip_duration       9200 non-null   float64
 1   started_at          12600 non-null  datetime64[ns]
 2   ended_at            12600 non-null  datetime64[ns]
 3   start_station_id    12583 non-null  float64
 4   start_station_name  12583 non-null  object
 5   start_lat           12600 non-null  float64
 6   start_lng           12600 non-null  float64
 7   end_station_id      12526 non-null  object
 8   end_station_name    12526 non-null  object
 9   end_lat             12586 non-null  float64
 10  end_lng             12586 non-null  float64
 11  bike_id             9200 non-null   float64
 12  member_casual       12599 non-null  object
 13  birth_year          8789 non-null   object
 14  gender              9200 non-null   float64
 15  ride_id             3400 non-null   object
 16  rideable_type       3400 non-null   object
dtypes: datetime64[ns](2), float64(8), object(7)
memory usage: 1.7+ MB

In [14]:
# Connect to the SQLite database (creates a new database if it doesn't exist)
with sqlite3.connect('data/database/citibike_data.db') as connection:
     
    for file_name in os.listdir(csv_save_path):
        temp_save_table = f'citibike_rides_{file_name[:4]}'
        print(f'Writing "{file_name}" to "{temp_save_table}"...')
        temp_df = pd.read_csv(
            os.path.join(csv_save_path,file_name),
            header=0,
            low_memory=False
        )

        temp_df.rename(
            columns = column_mapping,
            inplace=True
        )

        t_col_list = list(temp_df.columns)

        # Set datatypes.

        temp_df['started_at'] = pd.to_datetime(temp_df['started_at'])
        temp_df['ended_at'] = pd.to_datetime(temp_df['ended_at'])

        # If a column doesn't exist, then create it with null data and the datatype from sample_df
        for each_column in list(sample_df.columns):
            if each_column not in list(temp_df.columns):
                temp_df[each_column] = np.nan
                temp_df[each_column] = temp_df[each_column].astype(sample_df.dtypes[each_column])

        temp_df.to_sql(
            temp_save_table,
            connection,
            index=False,
            if_exists='append'
        )

        
        connection.commit()

Writing "2013-07 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "2013-08 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "2013-09 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "2013-10 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "2013-11 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "2013-12 - Citi Bike trip data.csv" to "citibike_rides_2013"...
Writing "201306-citibike-tripdata.csv" to "citibike_rides_2013"...
Writing "2014-01 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-02 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-03 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-04 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-05 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-06 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-07 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "2014-08 - Citi Bike trip data.csv" to "citibike_rides_2014"...
Writing "201409-citibike-tripdata.csv" to "citibike_rides_2014"...
Writing "201410-citibike-tripdata.csv" to "citibike_rides_2014"...
Writing "201411-citibike-tripdata.csv" to "citibike_rides_2014"...
Writing "201412-citibike-tripdata.csv" to "citibike_rides_2014"...
Writing "201501-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201502-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201503-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201504-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201505-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201506-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201507-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201508-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201509-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201510-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201511-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201512-citibike-tripdata.csv" to "citibike_rides_2015"...
Writing "201601-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201602-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201603-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201604-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201605-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201606-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201607-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201608-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201609-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201610-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201611-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201612-citibike-tripdata.csv" to "citibike_rides_2016"...
Writing "201701-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201702-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201703-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201704-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201705-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201706-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201707-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201708-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201709-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201710-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201711-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201712-citibike-tripdata.csv" to "citibike_rides_2017"...
Writing "201801-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201802-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201803-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201804-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201805-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201806-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201807-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201808-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201809-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201810-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201811-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201812-citibike-tripdata.csv" to "citibike_rides_2018"...
Writing "201901-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201902-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201903-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201904-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201905-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201906-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201907-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201908-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201909-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201910-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201911-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "201912-citibike-tripdata.csv" to "citibike_rides_2019"...
Writing "202001-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202002-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202003-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202004-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202005-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202006-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202007-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202008-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202009-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202010-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202011-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202012-citibike-tripdata.csv" to "citibike_rides_2020"...
Writing "202101-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202102-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202103-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202104-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202105-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202106-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202107-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202108-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202109-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202110-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202111-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202112-citibike-tripdata.csv" to "citibike_rides_2021"...
Writing "202201-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202202-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202203-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202204-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202205-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202206-citbike-tripdata.csv" to "citibike_rides_2022"...
Writing "202207-citbike-tripdata.csv" to "citibike_rides_2022"...
Writing "202208-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202209-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202210-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202211-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202212-citibike-tripdata.csv" to "citibike_rides_2022"...
Writing "202301-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202302-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202303-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202304-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202305-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202306-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202307-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202308-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202309-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202310-citibike-tripdata.csv" to "citibike_rides_2023"...
Writing "202311-citibike-tripdata.csv" to "citibike_rides_2023"...

In [26]:
for each_file in os.listdir(csv_save_path):
    file_path = os.path.join(csv_save_path, each_file)
    if os.path.isfile(file_path):
        os.remove(file_path)
        print(f"Deleted: {file_path}")

In [29]:
# lets look at the 2013 data
with sqlite3.connect('data/database/citibike_data.db') as connection:
    df = pd.read_sql_query(
        'select * from citibike_rides_2013 limit 100',
        connection
    )
df.head()

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bike_id,member_casual,birth_year,gender,ride_id,rideable_type
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0,None,None
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0,None,None
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2,None,None
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0,None,None
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1,None,None

In [30]:
# lets look at the 2022 data
with sqlite3.connect('data/database/citibike_data.db') as connection:
    df = pd.read_sql_query(
        'select * from citibike_rides_2022 limit 100',
        connection
    )
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,bike_id,birth_year,gender
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,None,None,None,None
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,None,None,None,None
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,None,None,None,None
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,None,None,None,None
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,None,None,None,None