# Needed imports
Importing all the packages we need for the data we'll be using

In [1]:
# Data manipulation 
import pandas as pd

# Database I/O
import sqlite3

We're going to first simply see how many rides were taken each year

In [2]:
# Firstly see what tables we got in this database
with sqlite3.connect('data/database/citibike_data.db') as connection:
    df = pd.read_sql_query(
        "SELECT name FROM sqlite_master WHERE type='table';",
        connection
    )
df.head()

                  name
0  citibike_rides_2013
1  citibike_rides_2014
2  citibike_rides_2015
3  citibike_rides_2016
4  citibike_rides_2017

In [6]:
rides_per_year = []
for each_table in df['name'].tolist():
    with sqlite3.connect('data/database/citibike_data.db') as connection:
        rides_per_year.append(
            pd.read_sql_query(
                f"Select strftime('%Y', started_at), count(*) from {each_table} group by 1",
                connection
            )
        )

rides_per_year_df = pd.concat(rides_per_year)

rides_per_year_df